* html .clearfix {
  height: 1%
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote，th,
td {
  margin: 0;
  padding: 0;
  font-family:Heveltica,Arial,'Microsoft YaHei';
  color: #FFFFFF;
}

body {
  background-color: #0c1323;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: ' '
}

abbr,
acronym {
  border: 0;
}

input[type="text"],
input[type="password"],
select {
  background: #0b1422;
}

a {
  text-decoration: none;
  color: #5c5c5c;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*解决点击链接触发颜色块*/
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
  -moz-outline: none;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.bc {
  margin-left: auto;
  margin-right: auto;
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.cb {
  clear: both;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.red {
  color: #ff6816;
}

/**箭头**/

.arrow {
  display: block;
  width: 7px;
  height: 7px;
  border-top: 0.1rem solid #BCBCBC;
  border-right: 0.1rem solid #BCBCBC;
  margin-top: 1.25rem;
  margin-left: 0.8rem;
}

.left-arrow {
  transform: rotate(225deg);
}

.right-arrow {
  transform: rotate(45deg);
}

/**虚、实线**/

.dotted-line {
  border: 0.1rem dashed #D7D7D7;
  width: 100%;
}

.solid-line {
  border: 0.1rem solid #D7D7D7;
  width: 100%;
}

/**cursor-p**/
.cursor-p {
  cursor: pointer;
}

/**text-d**/
.text-d{
  text-decoration: underline
   }
.text-ds{
  box-shadow: 0 -1px #C1C5C9 inset;
  color: #C1C5C9;
 /* box-shadow: 0 -1px #76A1DE inset;*/
  /*color: #76A1DE;*/
}

/**overflow ....**/
.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**placeholder**/
::-webkit-input-placeholder {
  color: #8a929b;
  line-height: 20px;
  font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #8a929b;
  line-height: 26px;
  font-size: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #8a929b;
  line-height: 26px;
  font-size: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8a929b;
  line-height: 26px;
  font-size: 12px;
}
.success{
  color: #5daf34;
}
.failed{
  color: #ea1818;
}

.zeroToWhole{
  font-size: 14px;
  margin-top: -12px;
  text-align: right;
  margin-right: 82px;
  color: #C1C5C9;
}


