//background color
@bg-color: #0b1422;
//hover color
@h-color: #17202e;
//border color
@bd-color: #658ec7;
.el-textarea__inner {
  background-color: #17202e;
  border: 1px solid #24426c;
}

.el-select-dropdown {
  background-color: @bg-color;
  border: 1px solid @bd-color;
  width: 260px;
}

.el-select .el-input .el-select__caret {
  font-size: 14px;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: @h-color;
}

.el-notification {
  background-color: #17202e;
  border-color: #658ec7;
  border-radius: 5px;
  margin-top: 2.2rem;
  min-width: 420px;
  .el-notification__group {
    .el-notification__closeBtn {
      top: 5px;
      right: 5px;
    }
  }
}
