<template>
  <div class="bottom" :class="this.bottomCss ? 'bottomP':''">
    <footer>
      <el-col :span="10" class='footer-left'>
        <span>{{$t('message.purseVersion')}}</span>：V{{this.$store.getters.getVersionInfo.myVersion}}
      </el-col>
      <el-col :span="14" class='footer-right'>
        {{$t('message.blockState')}}：{{$t('message.local')}} {{ netWorkInfo.localBestHeight }} /
        <span v-show="runing">{{$t('message.theMain')}}</span>
        <span v-show="!runing">{{$t('message.testMain')}}</span> {{netWorkInfo.netBestHeight}}
        <i :class="iconWifi" :title="connectNumber"></i>
      </el-col>
    </footer>
    <el-dialog title="" :visible.sync="centerDialogVisible" width="30%" center class="updatedDialog" top="34vh"
               :close-on-click-modal="false"
               :close-on-press-escape="false"
               :modal-append-to-body="false"
               :show-close="false">
      <div class="updated-progress">
        <el-progress :text-inside="true" :stroke-width="18" :percentage=this.downloadPercent status="success"
                     v-show="downloadPercent > 0"></el-progress>
      </div>
      <h3 v-show="downloadPercent === 0">{{$t('message.c249')}}...</h3>
      <div slot="footer" class="dialog-footer" v-show="downloadPercent === 0">
        <el-button @click="toExit">{{$t('message.c250')}}</el-button>
        <el-button type="primary" @click="clientVersion">{{$t('message.confirmButtonText')}}</el-button>
      </div>
    </el-dialog>

  </div>

</template>

<script>
  import {getNetworkInfo} from '@/api/httpData.js'
  import {accountList} from '@/api/util.js'
  import {RUN_DEV} from '@/config'

  export default {
    data() {
      return {
        //区块高度信息
        netWorkInfo: [],
        //wifi连接数量
        connectNumber: 0,
        //WiFi icon
        iconWifi: 'no-wifi_icon',
        //底部样式
        bottomCss: false,
        //强制升级弹框
        centerDialogVisible: false,
        //升级进度
        downloadPercent: 0,
        //
        bottomSetInterval: null,
        //
        updatedInterval: null,

        //高度提示
        heightDialog: true,
        //运行环境
        runing:RUN_DEV,

      }
    },
    mounted() {
      this.getNetWorkInfo();
      //5秒获取一次区块高度
      setInterval(() => {
        this.getNetWorkInfo();
        if (this.$store.getters.getAddressList.length === 0) {
          this.getAccountList()
        }
      }, 5000);

      this.bottomSetInterval = setInterval(() => {
        this.bottomCss = this.hasScrollbar();
      }, 100);

      //调用查询账户列表
      this.getAccountList();

    },
    methods: {
      //获取节点高度 Get node height
      getNetWorkInfo() {
        getNetworkInfo()
          .then((response) => {
            //console.log(response);
            if (response.success) {
              this.netWorkInfo = response.data;
              this.$store.commit('setNetWorkInfo', response.data);
              this.connectNumber = this.netWorkInfo.inCount + this.netWorkInfo.outCount;
              if (this.connectNumber < 2) {
                sessionStorage.setItem('setNodeNumberOk', 'false')
              } else {
                sessionStorage.setItem('setNodeNumberOk', 'true')
              }
              this.centerDialogVisible = response.data.mastUpGrade;
              if (this.connectNumber !== 0) {
                if (this.connectNumber < 15) {
                  this.iconWifi = 'two-wifi_icon';
                  if (this.connectNumber < 5) {
                    this.iconWifi = 'one-wifi_icon'
                  }
                } else {
                  this.iconWifi = 'wifi_icon'
                }
              } else {
                this.iconWifi = 'no-wifi_icon'
              }
            }
          }).catch((reject) => {
          this.$store.commit('setNetWorkInfo', {outCount:0,netBestHeight:-1});
          console.log(reject)
        })
      },

      //获取账户地址列表 Get a list of account addresses
      getAccountList() {
        accountList().then((response) => {
          //console.log(response);
          if (response.success) {
            this.$store.commit('setAddressList', response.list);
          } else {
            this.$store.commit('setAddressList', '');
          }
        });
      },

      /**
       * 查询版本是否可更新
       */
      clientVersion() {
        this.$fetch('/client/version')
          .then((response) => {
            //console.log(response);
            if (response.success) {
              this.toUpdated(response.data.newestVersion)
            }
          })
      },

      /**
       * 开始下载
       */
      toUpdated(version) {
        let param = '/client/upgrade/' + version;
        this.$post(param)
          .then((response) => {
            //console.log(response);
            if (response.success) {
              this.percentageShow = true;
              this.toUpdatedInterval = setInterval(() => {
                this.clientUpgrade();
                if (this.downloadPercent === 100) {
                  this.outRestart();
                  clearInterval(this.updatedInterval)
                }
              }, 500)
            } else {
              this.$message({
                type: 'warning', message: this.$t('message.passWordFailed') + response.msg
              })
            }
          });
      },

      /**
       *获取下载进度
       **/
      clientUpgrade() {
        this.$fetch('/client/upgrade')
          .then((response) => {
            //console.log(response);
            if (response.success) {
              this.downloadPercent = response.data.percentage;
            }
          })
      },

      /**
       * 退出重启
       */
      outRestart() {
        this.$post('/client/restart')
          .then((response) => {
            //console.log(response);
            if (response.success) {
              this.$message({
                type: 'success', message: this.$t('message.passWordSuccess')
              });
              this.closeBrowser();
            } else {
              this.$message({
                type: 'warning', message: this.$t('message.passWordFailed') + response.msg
              })
            }
          });
      },

      //关闭浏览器
      closeBrowser() {
        if (navigator.userAgent.indexOf("MSIE") > 0) {
          if (navigator.userAgent.indexOf("MSIE 6.0") > 0) {
            window.opener = null;
            window.close();
          } else {
            window.open('', '_top');
            window.top.close();
          }
        } else if (navigator.userAgent.indexOf("Firefox") > 0) {
          window.location.href = 'about:blank ';
        } else {
          window.location.href = "about:blank";
          window.opener = null;
          window.open('', '_self', '');
          window.close();
        }
      },

      //退出管理
      toExit() {
        this.$post('/client/stop')
          .then((response) => {
            if (response.success) {
              let list = [];
              localStorage.removeItem("newAccountAddress");
              localStorage.removeItem("addressAlias");
              localStorage.removeItem("addressRemark");
              localStorage.removeItem('encrypted');
              this.$store.commit('setAddressList', list);
              this.closeBrowser();
            }
          })
      },

      hasScrollbar() {
        return document.body.scrollHeight > (window.innerHeight || document.documentElement.clientHeight);
      }
    }
  }
</script>
<style lang="less">
  @import './../assets/css/style.less';

  .bottom {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    .updatedDialog {
      .el-dialog {
        width: 50%;
        background-color: #17202e;
        .el-dialog__body {
          h3 {
            line-height: 5rem;
            text-align: center;
          }
          .updated-progress {
            padding-top: 40px;
          }
        }
        .el-dialog__footer {
          .dialog-footer {
            .el-button--default {
              margin-left: 110px;
              width: 110px;
            }
            .el-button--primary {
              margin-right: 0;
              width: 110px;
            }
          }
        }
      }

    }
  }

  .bottomP {
    position: relative;
  }

  footer {
    width: 1024px;
    margin: auto;
    height: 2rem;
    line-height: 2rem;
    font-size: 14px;
    .footer-left {
      span {
        color: #C1C5C9;
      }
    }
    .footer-right {
      text-align: right;
      i {
        width: 20px;
        height: 30px;
        display: block;
        margin-top: -5px;
        margin-left: 5px;
        float: right;
        background-size: @bg-size;
        background: @bg-image
      }
      .no-wifi_icon {
        background-position: -129px -34px;
      }
      .one-wifi_icon {
        background-position: -90px -36px;
      }
      .two-wifi_icon {
        background-position: -58px -36px;
      }
      .wifi_icon {
        background-position: -20px -36px;
      }
    }
  }
</style>
