<template>
  <div class="zero-to-whole">
    <Back :backTitle="this.$t('message.back')"></Back>
    <div class="zth-info"  v-loading="loading">
      <h3>{{$t('message.c259')}}</h3>
      <div class="zth-info-top">
        <p>• {{$t('message.c260')}}</p>
        <p>• {{$t('message.c261')}}</p>
      </div>
      <div class="zth-info-bottom">
        <div class="zero">
          <span>{{$t('message.c262')}}:</span>{{this.totalInfo.size}} {{$t('message.c263')}}
          <el-tooltip placement="right">
            <div slot="content">{{$t('message.c264')}}
            </div>
            <i class="el-icon-info"></i>
          </el-tooltip>
        </div>
        <div><span>{{$t('message.c265')}}:</span>{{this.totalInfo.max}} NULS</div>
        <div v-show="this.totalInfo.size > 20"><span>{{$t('message.c266')}}:</span>{{this.fee}} NULS</div>
        <p>
          <span v-show="balanceIf">{{$t('message.c267')}}</span>
          <span v-show="this.totalInfo.size < 20">{{$t('message.c2671')}}</span>
        </p>
        <el-button type="primary" v-show="!buttonIf" @click="tochangeWhole">{{$t('message.c269')}}</el-button>
        <el-button type="primary" v-show="buttonIf" @click="goBack">{{$t('message.back')}}</el-button>
      </div>

    </div>
    <Password ref="password" @toSubmit="toSubmit" :submitId="submitId"></Password>
  </div>
</template>

<script>
  import Back from '@/components/BackBar.vue'
  import Password from '@/components/PasswordBar.vue'
  import {LeftShiftEight, RightShiftEight} from '@/api/util'

  export default {
    data() {
      return {
        //默认选中的账户转出地址
        selectAddress: localStorage.getItem('newAccountAddress'),
        submitId: 'zeroToEhole',

        //账户余额和零钱张数
        totalInfo: [],
        //预估手续费
        fee: 0,
        //当可用余额小于等于手续费
        balanceIf: false,
        threeIf: false,
        buttonIf: false,
        //调用加载
        loading:false,
      }
    },
    components: {
      Back,
      Password,
    },
    created() {
      this.getTotalUTXO();
    },
    methods: {

      /**
       * 根据账户地址获取零钱张数和余额
       */
      getTotalUTXO() {
        let url = '/accountledger/getTotalUTXO/' + this.selectAddress;
        this.$fetch(url)
          .then((response) => {
            //console.log(response);
            if (response.success) {
              response.data.max = LeftShiftEight(response.data.max).toString();
              this.threeIf = response.data.size >= 20;
              this.buttonIf = response.data.size < 20;
              this.totalInfo = response.data;
              this.estimateFee();
            }
          })
      },

      /**
       * 根据账户地址预估手续费—做零钱换整功能
       */
      estimateFee() {
        let url = '/accountledger/estimateFee/' + this.selectAddress;
        this.$fetch(url)
          .then((response) => {
            //console.log(response);
            if (response.success) {
              this.fee = LeftShiftEight(response.data.fee).toString();
              if (response.data.fee >= RightShiftEight(this.totalInfo.max)) {
                this.balanceIf = true;
                this.buttonIf = true;
              }
            }
          })
      },

      /**
       * 返回上一页
       **/
      goBack() {
        this.$router.go(-1);
      },

      /**
       * 确认零钱换整
       **/
      tochangeWhole() {
        if (localStorage.getItem('encrypted') === "true") {
          this.$refs.password.showPassword(true)
        } else {
          this.$confirm(this.$t('message.c1721'), '', {
            confirmButtonText: this.$t('message.confirmButtonText'),
            cancelButtonText: this.$t('message.cancelButtonText'),
          }).then(() => {
            this.toSubmit('')
          }).catch(() => {
            console.log("")
          })
        }
      },

      /**
       * 输入密码确定交易
       *Enter the password to determine the transaction
       * @param password
       */
      toSubmit(password) {
        let url = '/accountledger/changeWhole';
        let params = '{"address":"' + this.selectAddress
          + '","password":"' + password
          + '"}';
        this.loading = true;
        this.$post(url, params)
          .then((response) => {
            //console.log(response);
            if (response.success) {
              this.loading = false;
              this.$router.push({
                name: 'deallist',
                query: {address: ''}
              });
            } else {
              this.loading = false;
              this.$message({
                message: this.$t('message.passWordFailed') + response.data.msg,
                type: 'warning',
              })
            }
          })
      },
    }
  }
</script>

<style lang="less">
  @import url("../../assets/css/style.less");

  .zero-to-whole {
    width: 1024px;
    margin: auto;
    .zth-info {
      h3 {
        font-size: 16px;
        text-align: center;
        margin-top: 30px;
        line-height: 5rem;
      }
      .zth-info-top {
        width: 680px;
        margin: auto;
        background: #222d3f;
        p {
          font-size: 14px;
          padding: 5px 10px;
        }
      }
      .zth-info-bottom {
        background-color: #17202E;
        width: 680px;
        margin: 40px auto 0;
        div {
          margin: 0 10px;
          border-bottom: 1px solid #2D3849;
          line-height: 2.5rem;
          text-align: right;
          font-size: 14px;
          span {
            text-align: left;
            display: block;
            float: left;
          }
        }
        .zero {

        }
        p {
          text-align: center;
          font-size: 14px;
          color: #ec483e;
          margin: 20px 0 0 0;
          line-height: 20px;
        }
        .el-button--primary {
          clear: both;
          text-align: center;
          margin: 20px 0 30px 33%;
        }
      }
    }
  }
</style>
